<template name="layout2">
	<!-- this is an alternate and simpler navigation bar -->
	<div class="container">


	<!-- Here is the standard Bootstrap code for a Navigation bar taken directly from getbootstrap.com/components -->
		<nav class="navbar">
		  <div class="container-fluid">

				<a class="navbar-brand active" href="{{pathFor 'home'}}">PackOut</a>

				<ul class="nav nav-pills topbar">
				  <li class="listbar" role="presentation"><a href="{{pathFor 'about'}}">About</a></li>
				  <li class="listbar" role="presentation"><a href="{{pathFor 'profile'}}">Profile</a></li>
				  <li class="listbar" role="presentation"><a href="{{pathFor 'whereugoin'}}">Start Planning!</a></li>
				  <li class="listbar" role="presentation"><a href="{{pathFor 'packingList'}}">Packing List</a></li>
	           		  <li role="presentation"><a href="{{pathFor 'packtips'}}">Packing Tips</a></li>
				  <li class="listbar" role="presentation"><a href="{{pathFor 'search'}}">Search</a></li>
				 </ul>

				 <ul class="nav navbar-nav navbar-right">
			            {{> loginButtons}} <!-- here --> 
			     </ul>

					<!-- add more li's here for your navigation bar -->

			  
		  </div><!-- /.container-fluid -->
		</nav>

		<!-- Here is where the actual content of the page
		     gets inserted by the router! -->
		{{#if noProfile}}
		 <div class="alert alert-warning" role="danger">  Please complete the Profile!!</div>
		       {{> profile}}
		{{else}}
		       {{> yield}}
		{{/if}}

	</div>
</template>
